<div class="history"><div class="cd-timeline-header"><h2 id="Experenice">Experience</h2><hr class="bar"/></div>
<section id="cd-timeline" class="cd-container"><div class="cd-timeline-block"><div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div>
<!-- cd-timeline-img--><div class="cd-timeline-content">

<p>
    Ph.D., English (Literature and Film), <em>University of South Florida</em>,
    2008
</p>
<p>
    Field: Contemporary American Fiction and Film
</p>
<p>
M.A., Cultural and Critical Studies,    <em>Birkbeck College at University of London</em>, 2003
</p>
<p>
    B.A., English Literature, <em>University of South Florida, </em>1999
</p>
<div>
    <br/>
</div>

<span class="cd-date">Education</span>
</div><!-- cd-timeline-content--><!-- cd-timeline-block--></div><div class="cd-timeline-block"><div class="cd-timeline-img cd-movie"><img src="../assets/img/idea14.svg" alt="College"/></div>
<!-- cd-timeline-img--><div class="cd-timeline-content">
<p>
    2016-Present: Director of Digital Storytelling MA in the Department of
    Telecommunications at Ball State University
</p>
<p>
    2014-Present: Associate Professor, Department of Telecommunications at Ball
    State University
</p>
<p>
    2011-2014: Assistant Professor, Department of Telecommunications at Ball
    State University
</p>
<p>
    2008-2011: Contract Faculty, Department of Telecommunications at Ball State
    University
</p>

<span class="cd-date">Professorial Employment</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div><div class="cd-timeline-block"><div class="cd-timeline-img cd-picture"><img src="../assets/img/web-programming.svg" alt="Picture"/></div>
<!-- cd-timeline-img--><div class="cd-timeline-content">
<p>
    Books
</p>
<p>
    Donnelly, Ashley M.
    <em>
        Subverting Mainstream Narratives in Reagan’s America: Bringing Power to
        the People
    </em>
</p>
<p>
    Palgrave MacMillan, May 2018.
</p>
<p>
    Donnelly, Ashley.
    <em>
        Renegade Hero or Faux Rogue: The Secret Traditionalism of Television
        Bad Boys
    </em>
    . Jefferson, NC: McFarland Press, 2014.
</p>
<p>
Simpson, Phil, and Ashley Donnelly.    <em>Midnight Movie Monographs: ‘Manhunter’</em>. Part of the Electric
    Dreamhouse Midnight Movie Series Published by PS Press: Durham, UK. Under
    Contract. Due to publisher May, 2019.
</p>
<p>
    Peer-Reviewed Journal Articles
</p>
<p>
Ung, Any and Ashley Donnelly.<em>Narrator in the Dark: A Neo-Structural Analysis of Nocturnal </em><em>Animals</em>. Under Review with    <em>Popular Culture Studies Journal.</em>
</p>
<p>
    Donnelly, Ashley M. Mailer’s “New Man: Differing Masculinities in the Film
‘Tough Guys Don’t Dance’”.<em>The Mailer Review.</em>    <em> 10.1, November (Fall) 2016.</em>
</p>
<p>
    Donnelly, Ashley M. “Boardwalk Empire: The Romantic Side of Crime and
    Capitalism.” <em>The Popular Culture Studies Journal</em><u>.</u> 1.1
    (October 2013).<u></u>
</p>
<p>
    Flook, Christopher, Ronald Morris, Suzy Smith, and Ashley Donnelly.
    “Digital Preservation: Integrating Technology, Research, and Visual
Aesthetics in Experiential Learning Curriculum.”    <em>Journal of Media Education</em>. January 2013.
    http://en.calameo.com/read/000091789274c7cdfafa5
</p>
<p>
    Donnelly, Ashley M. “The New American Hero: Dexter, Serial Killer for the
    Masses.” <em>The Journal of Popular Culture</em> 45.1 (February 2012).
</p>
<p>
    Articles in Edited Collections
</p>
<p>
Donnelly, Ashley M. <em>The Bigamist</em> and<em>The Trouble with Angels</em><em>: Ida </em>    <em>Lupino’s Moral Filmmaking</em>. In <u>Ida Lupino</u> ed. Philip
    Sipiora. Bloomsury Press, Forthcoming<em>.</em>
</p>
<p>
    <u></u>
</p>
<p>
    Donnelly, Ashley M. “Denial and Salvation: The <em>Twilight</em> Series and
    Heteronormative Patriarchy.” In <em>Critical Approaches to Twilight</em>,
    eds. Natalie Wilson and Maggie Parker. Jefferson, NC: McFarland Press,
    2011.
</p>
<p>
    Donnelly, Ashley M. “Read My Profile: How Internet Profiles are Teaching
    Women to Communicate.” In
    <em>
        Women and the Gendering of Talk, Gossip and Communication Practices
        across Media,
    </em>
    eds. Sarah Burcon and Melissa Ames, Jefferson, NC: McFarland Press, 2011.
</p>

<span class="cd-date">Publications</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div><div class="cd-timeline-block"><div class="cd-timeline-img cd-location"><img src="../assets/img/graduate38.svg" alt="Location"/></div>
<!-- cd-timeline-img--><div class="cd-timeline-content">
<p>
    Donnelly, Ashley. “Coming of Age Films in the New Millennia: What’s So New
    About Something So Old.” MPCA, Indianapolis, 2018.
</p>
<p>
    Donnelly, Ashley. “<em>The Witch</em> as Political Narrative: The Insanity
    of the Just Amongst the Corrupt.” PCA/ACA, Indianapolis, 2018.
</p>
<p>
    Simpson, Phil (moderator), Donnelly, Ashley, Glenn Milock, Kathy
    Merlock-Jackson. “Two Hundred Years of Frankenstein: Rountable.” PCA/ACA,
    Indianapolis, 2018.
</p>
<p>
    Donnelly, Ashley. “The Food Wasn’t Human: Hannibal and Audience
    Misdirection.” MPCA, St. Louis, MO. 2017.<u></u>
</p>
<p>
    Donnelly, Ashley. “The Bull Elk vs the Wendigo: Complex Masculinities in
    Bryan Fuller’s <em>Hannibal.” </em>PCA/ACA, San Diego, CA 2017.<u></u>
</p>
<p>
    Donnelly, Ashley. “Humanizing the Other: What Happens When We Like The
    Serial Killer?” MPCA, Chicago, IL 2016.<u></u>
</p>
<p>
Donnelly, Ashley. “Women, Sex, and Power: The Feminist Discourse of    <em>The Fall</em>.” PCA/ACA, Seattle WA 2016.
</p>
<p>
    Donnelly, Ashley. “Political Dissent in Mainstream Cinema: Kubrick’s
    Anti-War Film in Reagan’s America.” MPCA/ACA, Cincinnati, OH 2015<u></u>
</p>
<p align="left">
    Donnelly, Ashley. “Exploring Monogomy and Infidelity Through Film.”
    MPCA/ACA, Indianapolis, October 2014.<u></u>
</p>
<p align="left">
    Donnelly, Ashley. “Narrating Relationships: Infidelity in Film.” UFVA,
    Bozeman MT, August 2014.<u></u>
</p>
<p align="left">
    Donnelly, Ashley. “We All Know It’s a Terrible Book, But… Pulling the
    Positives Out of the <em>50 Shades </em>Series.” PCA/ACA, Washington, DC,
    March 2013.<u></u>
</p>
<p align="left">
    Batchelor, Bob, Ashley Donnelly, and Brian Cogan. “The Emancipatory Power
    of Popular Culture Scholarship: A Discussion of the State of the Field.”
    PCA/ACA, Washington, DC March 2013.<u></u>
</p>
<p align="left">
    Donnelly, Ashley. “Film Moments: Kubrick’s Full Metal Jacket.” UFVA,
    Chicago, IL, August 2012.<u></u>
</p>
<p align="left">
    Donnelly, Ashley. “Vampires, Globalization, and the American Myth of
    Inclusion.” PCA/ACA, Boston, MA, April 2012.<u></u>
</p>
<p align="left">
    Donnelly, Ashley. “Taming the Other: Creatures of Horror as New American
    Heroes.” PCA/ACA, San Antonio, TX, April 2011.
</p>
<p align="left">
    Donnelly, Ashley. “Read my Profile: How Internet Profiles are Teaching
    Young Women to Communicate.” PCA/ACA, St. Louis, MO, April 2010.
</p>
<p align="left">
    Donnelly, Ashley. "What's That Feminist Doing in My Class?!: a Faculty
    Panel on Teaching, Learning, and Feminisms.” Ball State University, Muncie,
    IN, March 2011.
</p>
<p align="left">
    Donnelly, Ashley. “America’s New Adam: He’s so Good at Being Bad.” PCA/ACA,
    New Orleans, LA, April 2009.
</p>
<p align="left">
    Donnelly, Ashley. “Kill Him, Not Me: America’s Complicated Relationship
    with the Serial Killer.” Midwest Popular Culture Association, Cincinnati,
    October 2008.
</p>
<p align="left">
    Donnelly, Ashley. “Just Say…Something: Blank Fiction and the Political
    Rhetoric of Reagan’s America.” PCA/ACA, San Francisco, March 2008.
</p>
<p align="left">
    Cain, Ashley. “Slaying the Nation: A Look at the Serial Killer in American
    Films of the 1980s.” PCA/ACA, Boston, April 2007.
</p>
<p align="left">
    Runge-Gordon, Laura, Ashley Cain, et al. “On the Back of FYC: Training
    Teachers of Literature.” MLA, Philadelphia, December 2006.
</p>
<p align="left">
    Cain, Ashley. “Fear of Our Otherness: Serial Killer Films of the 1980s.”
    RMMLA, Tucson, October 2006.
</p>

<span class="cd-date">Conference Presentation</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div><div class="cd-timeline-block"><div class="cd-timeline-img cd-location"><img src="../assets/img/hosting.svg" alt="Location"/></div>
<!-- cd-timeline-img--><div class="cd-timeline-content">
<p>
    CCIM Award for Distinguished Researcher 2015-2016<u></u>
</p>
<p>
    “Finalist” award in Hollywood Screenwriters Contest 2015 for feature-length
    screenplay <em>Panhandle</em>.<u></u>
</p>
<p>
    Ball State Sponsored Programs Office Fellow, 2013-14, fellowship program
    for grant writing instruction and grant writing leadership.
</p>
<p>
    Immersive learning grant “Historic Muncie” led in conjunction with
    Professors Christopher Flook, Professor Suzy Smith, and Dr. Ronald Morris
    won the Indiana Governor's Award for Historic Preservation.
</p>


<span class="cd-date">Honor and Awards</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--><div class="cd-timeline-block"><div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location"/></div></div>
<!-- cd-timeline--></div></section><div class="cd-timeline-header"></div></div>
